<div class="drawer animate__animated animate__slideInUp animate__fadeOut">
	<div class="line"></div>
	<form [formGroup]="filterForm">
		<p class="label">Show events:</p>
		<div>
			<input type="checkbox" formControlName="official" />
			<p>Official</p>
		</div>
		<div>
			<input type="checkbox" formControlName="unofficial" />
			<p>Unofficial</p>
		</div>
		<p>Start Date:</p>
		<input id="starDateRef" [formControl]="startDate" type="date" class="input" [ngModel] ="currentDate | date:'yyyy-MM-dd'"/>
		<p>End date:</p>
		<input [formControl]="endDate" type="date" class="input" [ngModel] ="sevenDaysFromCurrentTime | date:'yyyy-MM-dd'"/>
	</form>
	<!-- <button class="btn" (click)="onSubmit()">Filter results</button> -->
</div>
