.bottomNav{
  width: 100vw;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottomNav>*{
  border: none;
  background-color: white;
  width:40px;
}
.eee{
  filter: invert(57%) sepia(76%) saturate(5889%) hue-rotate(243deg) brightness(100%) contrast(102%);
}

.highlighted-button:hover {
  background-color: gold;
}