.legend{
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 25px;
  position: fixed;
  top: 90px;
  left: 20px;
  padding: 10px 20px 0;
  font-family:Arial, Helvetica, sans-serif
}
.line{
  display: flex;
  flex-direction: row;
}
.c{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
.c1{
  background-color: #fc0000;
}
.c2{
  background-color: #51fc00;
}
.c3{
  background-color: #308efd;
}
