<div *ngIf="isComponentInView">
	<div class="drawer animate__animated animate__slideInUp animate__fadeOut">
		<div class="line" (click)="close()"></div>
		<p class="eventName">{{ name }}</p>
		<p class="eventType">{{ type == '1' ? 'Eveniment oficial' : 'Eveniment neoficial' }}</p>
		<p class="date" [ngClass]="{ nope: isOpen == false }">{{ date }}</p>
		<p (click)="toggleDrawer()" class="description" [ngClass]="{ mini: isOpen == false }">
			{{ description }}
		</p>
		<a class="link">Event link</a>
		<button class="btn" (click)="test()">Add to track</button>
	</div>
</div>
