.drawer{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 16px 16px 0 0 ;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 90vw;
}
.line{
  width: 32px;
  height: 3px;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: #666666;
}
.btn{
  padding: 16px 64px;
  background-color: #9F54FF;
  color: white;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  margin-top: 10px;
}
.example-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  overflow: hidden;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
}
.delete-icon{
  position: relative;
  bottom: 7px;
}
.drag{
  position: relative;
  bottom: 7px;
  margin-right: 60px;
}
.example-box {
  border-bottom: 1px solid gray;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  margin-bottom: 20px;
  width: 90%;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
