<div class="drawer animate__animated animate__slideInUp animate__fadeOut">
	<div class="line" (click)="close()"></div>
	<p>{{ location }}</p>
	<form [formGroup]="eventForm">
		<p>Event Name:</p>
		<input formControlName="name" type="text" />
		<p>Description :</p>
		<textarea formControlName="description" class="description"></textarea>
		<p>Start Date:</p>
		<input formControlName="startdate" type="date" />
		<p>End Date:</p>
		<input formControlName="endate" type="date" />
		<p>Start hour:</p>
		<input formControlName="startime" type="time" />
		<p>Event Link:</p>
		<input formControlName="link" type="text" />
	</form>
	<button class="btn" (click)="onSubmit()">Add event</button>
</div>
